<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>찜한 장소</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>찜한 장소</h1>
        <div id="placeList" class="place-list"></div>
        <script src="/js/liked.js"></script>
    </div>
</body>
</html> 