<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resetPassword.css">
    <title>Reset Password</title>
</head>
<body>
    <div class="cont">
        <h2>Reset Password</h2>
        <form action="/auth/reset-password/<%= token %>" method="POST">
            <label>
                <span>새로운 페스워드</span>
                <input type="password" name="newPassword" placeholder="새로운 페스워드" required>
            </label>
            <label>
                <span>페스워드 확인</span>
                <input type="password" name="confirmPassword" placeholder="페스워드 확인" required>
            </label>
            <button type="submit">페스워드 재설정</button>
        </form>
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
    </div>
</body>
</html>